POLICY = {resultData->
	def listMess = []
	def ret = ['jobName' : 'job391.subtyped', 'istIid' : '']
	resultData.each {key,value ->
		if(key == "M") {
			resultData[key].each {data ->
				if(data.UsedSize > 9500000){
					listMess.add("""UsedSize is too high""")
				}
				if(data.UsedIndexSize > 100000){
					listMess.add("""okeeeeeeeee""")
				}
			}
		}
		if(key == "D") {
			resultData[key].each {data ->
				if(data.TotalSize != 3000){
					listMess.add("""show is ok""")
				}
			}
		}
	}
	ret['message'] = listMess
	return ret
}