POLICY = {resultData->
	def listMess = []
	def ret = ['jobName' : 'job391.store', 'istIid' : '']
	resultData.each{data->
		if((data.tablesize > 1000)){
			listMess.add("""Size of table is too high""")
		}
		if((data.rowcount > 2014)){
			listMess.add("""Warning !!!""")
		}
	}
	ret['message'] = listMess
	return ret
}