POLICY = {resultData->
	def listMess = []
	def ret = ['jobName' : 'MySQL.Database_Area.Top30Database', 'istIid' : 'localhost-@MYSQL-information_schema']
	resultData.each {key,value ->
		if(key == "M") {
			value.each {data ->
				if(original_condition){
					listMess.add([level: null, message: """original_message"""])
				}
				if(update_condition){
					listMess.add([level: 1, message: """update_message"""])
				}
			}
		}
		if(key == "D") {
			value.each {data ->
				if(update_condition_2){
					listMess.add([level: 3, message: """update_message_2"""])
				}
			}
		}
	}
	ret['message'] = listMess
	return ret
}